@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic");
body.is-loading * {
 -moz-transition:none !important;
 -webkit-transition:none !important;
 -o-transition:none !important;
 -ms-transition:none !important;
 transition:none !important;
 -moz-animation:none !important;
 -webkit-animation:none !important;
 -o-animation:none !important;
 -ms-animation:none !important;
 animation:none !important
}
body,input,select,textarea {
 color:#474747;
 font-family:'Source Sans Pro', sans-serif;
 font-size:16pt;
 font-weight:400;
 line-height:1.65em
}

a .twitter-timeline {
 display:inline-block;
 padding:6px 12px 6px 30px;
 margin:10px 0;
 border:#ccc solid 1px;
 border-radius:3px;
 background:#ccc
}
strong,b {
 font-weight:600
}
em,i {
 font-style:italic
}
p,ul,ol,dl,table,blockquote {
 margin:0 0 0 0
}
h1,h2,h3,h4,h5,h6 {
 color:inherit;
 font-weight:600;
 line-height:1.75em;
 margin-bottom:0.5em
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
 color:inherit;
 text-decoration:none
}
h1 em,h2 em,h3 em,h4 em,h5 em,h6 em {
 font-style:normal;
 font-weight:400
}
h1 {
 font-size:22pt;
 letter-spacing:-0.025em
}
h2 {
 font-size:20pt;
 letter-spacing:-0.025em
}
h3 {
 font-size:18pt;
 letter-spacing:-0.025em
}
h4 {
 font-size:14pt;
 letter-spacing:-0.025em;
 line-height: 0.4em;
 }
p {
 font-size:12pt;
 letter-spacing:-0.025em;
 text-align:justify;
 line-height: 1.5;
}
sub {
 font-size:0.8em;
 position:relative;
 top:0.5em
}
sup {
 font-size:0.8em;
 position:relative;
 top:-0.5em
}
hr {
 border-top:solid 1px #e0e0e0;
 border:1;
 margin-bottom:1.5em
}
blockquote {
 border-left:solid 0.5em #e0e0e0;
 font-style:italic;
 padding:1em 0 1em 2em
}
section.special,article.special {
 text-align:center
}
header p {
 font-size:14pt;
 position:relative;
 margin-top:-1.25em;
 margin-bottom:0
}
header.major {
 text-align:center;
 margin:0 0 0 0
}
header.major h2 {
 font-size:24pt;
 margin-bottom:20px
}
header.major p {
 position:relative;
 border-top:solid 1px #e0e0e0;
 padding:1em 0 3em 0;
 margin:0;
 top:-1em;
 font-size:14pt;
 letter-spacing:-0.025em
}
.marg {
 margin-top:20px;
}
.marg_long {
 margin-top:20px;
 line-height:30px;
}
footer {
 margin:0 0 3em 0
}
footer>:last-child {
 margin-bottom:0
}
footer.major {
 padding-top:3em
}
input[type="text"],input[type="password"],input[type="email"],textarea {
 -moz-appearance:none;
 -webkit-appearance:none;
 -o-appearance:none;
 -ms-appearance:none;
 appearance:none;
 -moz-transition:border-color 0.2s ease-in-out;
 -webkit-transition:border-color 0.2s ease-in-out;
 -o-transition:border-color 0.2s ease-in-out;
 -ms-transition:border-color 0.2s ease-in-out;
 transition:border-color 0.2s ease-in-out;
 background:#fff;
 border:solid 1px #e0e0e0;
 border-radius:5px;
 color:inherit;
 display:block;
 outline:0;
 padding:0.75em;
 text-decoration:none;
 width:100%
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus {
 border-color:silver
}
input[type="text"],input[type="password"],input[type="email"] {
 line-height:1em
}
label {
 display:block;
 color:inherit;
 font-weight:600;
 line-height:1.75em;
 margin-bottom:0.5em
}
::-webkit-input-placeholder {
 color:#999;
 position:relative;
 top:3px
}
:-moz-placeholder {
 color:#999
}
::-moz-placeholder {
 color:#999
}
:-ms-input-placeholder {
 color:#999
}
.formerize-placeholder {
 color:#999
}
.image {
 border:0;
 display:inline-block;
 position:relative;
 border-radius:5px
}
.image img {
 display:block;
 border-radius:5px
}
.image.left {
 display:block;
 float:left;
 margin:0 2em 2em 0;
 position:relative;
 top:0.25em
}
.image.left img {
 display:block;
 width:100%
}
.image.sponsor {
 margin:1em 1em 1em 0;
 position:relative;
 border-radius:5px
}
.image.sponsor.diamond img {
 max-height:10em;
 max-width:15em;
 float:left;
 margin:0.5em 0.5em 0 0
}
.image.sponsor.platinum img {
 max-height:6em;
 max-width:11em;
 float:left;
 margin:0.5em 0.5em 0 0
}
.image.sponsor.gold img {
 max-height:5em;
 max-width:8em;
 float:left;
 margin:1em 1.5em 0 0
}
.image.fit {
 display:block
}
.image.fit img {
 display:block;
 width:100%
}
.image.featured {
 display:block;
 margin:0 0 2em 0
}
.image.featured img {
 display:block;
 width:100%
}
.grid_wrapper {
 padding-bottom:2em
}
.profile .crop {
 overflow:hidden;
 margin-right:auto;
 margin-left:auto;
}
.profile img {

 object-fit: cover;
 object-position: center;
 font-family: 'object-fit: cover;';

 height:8em;
 width: 6em;
 -moz-border-radius:1em;
 -webkit-border-radius:1em;
 border-radius:1em;
}
.profile p {
 text-align:center;
 font-size:0.7em;
 line-height: 1em;
 padding-bottom:1em;
}
.profile a {
 display:block;
 font-size:0.9em;
 color:black;
 font-weight:400;
 border-bottom: 0;
 line-height: 1.2em;
 line-height: 1em;
 padding-bottom: 0.2em;
}
.icon {
 text-decoration:none;
 position:relative;
 text-decoration:none
}
.icon:before {
 -moz-osx-font-smoothing:grayscale;
 -webkit-font-smoothing:antialiased;
 font-family:FontAwesome;
 font-style:normal;
 font-weight:normal;
 text-transform:none !important
}
.icon>.label {
 display:none
}
.icon.major {
 text-align:center;
 cursor:default;
 background-color:silver;
 background-image:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 color:#fff;
 border-radius:100%;
 display:inline-block;
 width:5em;
 height:5em;
 line-height:5em;
 box-shadow:0 0 0 7px #fff,0 0 0 8px #e0e0e0;
 margin:0 0 2em 0
}
.icon.major:before {
 font-size:36px
}
h3.program-header {
 margin-top:1.4em;
 margin-bottom:0;
}
h4.program-subheader {
 margin-top: 1.8em;
 padding-bottom:0.4em;
}
h4.program-sessionchair {
  font-size:12pt;
  font-weight: 1;
  margin-top: 0.8em;
  padding-bottom:0.4em;
}
ol {
 font-size:12pt
}
ol.default {
 font-size:12pt;
 list-style:decimal;
 padding-left:1.25em
}
ol.default li {
 padding-left:0.25em
}
ol.default li p.title {
 font-weight:600;
  /*line-height:0.2;*/
 margin-bottom:0.2em;
}
ol.default li p.authors {
 line-height:1;
 font-size:1em;
 margin-bottom:0.8em;
}
ul {
 font-size:12pt
}
ul.default {
 list-style:disc;
 padding-left:1em;
 font-size:12pt;
 line-height: 1.5;
}
ul.default li {
 padding-left:0.5em
}
ul.default li p.title {
 font-weight:600;
}
ul.default li p.authors {
 font-size:1em
}
ul.links li {
 line-height:2.5em
}
ul.icons {
 cursor:default
}
ul.icons li {
 display:inline-block;
 line-height:1em;
 padding-left:1.5em
}
ul.icons li:first-child {
 padding-left:0
}
ul.icons li a,ul.icons li span {
 font-size:2em;
 border:0
}
ul.actions {
 cursor:default
}
ul.actions:last-child {
 margin-bottom:0
}
ul.actions li {
 display:inline-block;
 padding:0 0 0 1.5em
}
ul.actions li:first-child {
 padding:0
}
ul.actions.vertical li {
 display:block;
 padding:1.5em 0 0 0
}
ul.actions.vertical li:first-child {
 padding:0
}
ul.menu li {
 border-left:solid 1px #e0e0e0;
 display:inline-block;
 padding:0 0 0 1em;
 margin:0 0 0 1em
}
ul.menu li:first-child {
 border-left:0;
 margin-left:0;
 padding-left:0
}
table {
 width:100%;
 font-size:12pt;
 letter-spacing:-0.025em;
 text-align:center
}
table.default {
 width:100%;
 font-size:12pt;
 letter-spacing:-0.025em;
 text-align:center;
 margin-bottom:50px
}
table.default tbody tr {
 border-bottom:solid 1px #e0e0e0
}
table.default tr:hover {
 // background-color: #8b8b8b
}
table.default td {
 border-bottom:solid 1px #e0e0e0;
 padding:0.5em 1em 0.5em 1em
}
table.default td.nowrap {
 white-space:nowrap
}
table.default th {
 border-bottom:solid 1px #e0e0e0;
 font-weight:600;
 padding:0.5em 1em 0.5em 1em;
 text-align:left
}
table.default thead {
 background-color: #313131;
 background-image:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 color:white
}
input[type="submit"],input[type="reset"],input[type="button"],.button {
 -moz-appearance:none;
 -webkit-appearance:none;
 -o-appearance:none;
 -ms-appearance:none;
 appearance:none;
 -moz-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
 -webkit-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
 -o-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
 -ms-transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
 transition:background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
 background-color: #616161;
 background-image:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 border-radius:5px;
 border:0;
 color:#fff;
 cursor:pointer;
 display:inline-block;
 padding:0 1.5em;
 line-height:2.75em;
 min-width:9em;
 text-align:center;
 text-decoration:none;
 font-weight:600;
 letter-spacing:-0.025em
}
input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.button:hover {
 background-color:#cdcdcd;
 color:#fff !important
}
input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active,.button:active {
 background-color:#b3b3b3;
 color:#fff
}
input[type="submit"].alt,input[type="reset"].alt,input[type="button"].alt,.button.alt {
 background-color:#555555;
 color:#fff
}
input[type="submit"].alt:hover,input[type="reset"].alt:hover,input[type="button"].alt:hover,.button.alt:hover {
 background-color:#626262
}
input[type="submit"].alt:active,input[type="reset"].alt:active,input[type="button"].alt:active,.button.alt:active {
 background-color:#484848
}
input[type="submit"].icon:before,input[type="reset"].icon:before,input[type="button"].icon:before,.button.icon:before {
 margin-right:0.5em
}
input[type="submit"].fit,input[type="reset"].fit,input[type="button"].fit,.button.fit {
 width:100%
}
input[type="submit"].small,input[type="reset"].small,input[type="button"].small,.button.small {
 font-size:0.8em
}
.box.highlight {
 text-align:center
}
.box.post {
 position:relative;
 margin:0 0 2em 0
}
.box.post:after {
 content:'';
 display:block;
 clear:both
}
.box.post .inner {
 margin-left:calc(30% + 2em)
}
.box.post .inner>:last-child {
 margin-bottom:0
}
.box.post .image {
 width:30%;
 margin:0
}
#header {
 text-align:center;
 background-color:#fff;
 background-image:url("images/bg02.png"),url("images/bg02.png"),url("images/bg01.png");
 background-position:top left,         top left,         top left;
 background-size:100% 6em,         100% 6em,         auto;
 background-repeat:no-repeat,          no-repeat,          repeat
}
#header h1 {
 padding:0 0 2.75em 0;
 margin:0
}
#header h1 a {
 font-size:1.5em;
 letter-spacing:-0.025em;
 border:0
}
#nav {
 font-size:1em;
 cursor:default;
 background-color:#1c1c1c;
 padding:0;
 // background-image:url("/assets/images/bg02.jpg")
}
/*#nav:after {*/
 /*z-index:-1;*/
 /*content:'';*/
 /*display:block;*/
 /*width:100%;*/
 /*height:0.75em;*/
 /*background-color:silver;*/
 /*background-image:url("images/bg01.png")*/
/*}*/
#nav>ul {
    background-color: #1c1c1c;
 margin:0
}
#nav>ul>li {
 font-weight:600;
 position:relative;
 display:inline-block;
 margin-left:1em
}
#nav>ul>li a {
 color:#c0c0c0;
 text-decoration:none;
 border:0;
 display:block;
 padding:1.5em 0.5em 1.35em 0.5em
}
#nav>ul>li:first-child {
 margin-left:0
}
#nav>ul>li:hover a {
 color:#fff
}

#nav>ul>li.current a{
 font-weight:900;
 text-decoration: underline;
}


nav li {
 display: inline-block;
 transition-duration: 0.5s;
}

nav li:hover {
  cursor: pointer;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  /*margin-top: 1rem;*/
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
  z-index: 5;
  visibility: visible;
  opacity: 1;
  display: inline-block;
  background-color: #1c1c1c;
 margin-bottom: 1em;
}

nav ul li ul li {
  clear: both;
  width: 100%;
  text-decoration: none;
}

#nav>ul>li>ul>li a {
 padding: 0.4em 0.4em 0.4em 0.4em;
 height: 1em;
 text-align: left;
 white-space: nowrap;
}




#banner {
 background-image:url("https://upload.wikimedia.org/wikipedia/commons/d/dc/Quebec_city-Vieux-Qu%C3%A9bec.jpg");
 // background-image:url("https://upload.wikimedia.org/wikipedia/commons/1/18/Panorama_of_Quebec_City.jpg");
 background-position: left top;
 background-size:cover;
 height:28em;
 text-align:center;
 position:relative
}
#banner header {
 position:absolute;
 bottom:0;
 left:0;
 width:100%;
 background:#212121;
 background:rgba(27,27,27,0.75);
 color:#fff;
 padding:8px 0
}
#banner header h2 {
 display:inline-block;
 margin:0;
 font-size:1.5em;
 vertical-align:middle
}
#banner header h2 em {
 opacity:0.75
}
#banner header h2 a {
 border-bottom-color:rgba(255,255,255,0.5)
}
#banner header h2 a:hover {
 border-bottom-color:transparent
}
#banner header .button {
 vertical-align:middle;
 margin-left:1em
}
.wrapper {
 padding:1em 0 1em 1em
}
.wrapper.style1 {
 background:#fff
}
.wrapper.style2 {
 background-color:#fff;
 background-image:url("images/bg02.png"),url("images/bg03.png"),url("images/bg01.png");
 background-position:top left,           bottom left,          top left;
 background-size:100% 6em,           100% 6em,           auto;
 background-repeat:no-repeat,            no-repeat,            repeat
}
.wrapper.style3 {
 background-color:silver;
 background-image:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 background-image:linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
 color:#fff
}
.wrapper.style3 .button {
 background:#fff;
 color:#474747
}
.wrapper.style3 .button:hover {
 color:silver !important
}
#sidebar section {
 padding:0 0 1em 0
}
#cta {
 text-align:center;
 padding:3.5em 0
}
#cta header h2 {
 display:inline-block;
 vertical-align:middle;
 margin:0
}
#cta header .button {
 vertical-align:middle;
 margin-left:1em
}
#footer {
 padding:0 0 1em 0;
 font-size:12pt
}
#footer a {
 color:inherit;
 border-bottom-color:rgba(71,71,71,0.25)
}
#footer a:hover {
 color:silver;
 border-bottom-color:transparent
}
#footer .container {
 margin-bottom:4em
}
#footer .icons {
 text-align:center;
 margin:0
}
#footer .icons a {
 color:#999
}
#footer .icons a:hover {
 color:#474747
}
#footer .copyright {
 color:#999;
 margin-top:1.5em;
 text-align:center;
 font-size:0.9em
}
