<center>
<h3>Endorsers</h3>
<div class="6u">
    <a style="border-bottom: 0px" href="http://www.isprs.org">
        <img style="margin-left: 10%;" 
             src="assets/images/animated_logo0_small.gif" 
             width="100%" />
    </a>
</div>
<div class="6u">
    <a style="border-bottom: 0px" href="http://www.girpr.it">
        <img style="margin-left: 10%;" 
             src="assets/images/girpr-logo.png" 
             width="75%" />
     </a>
</div>
<div class="6u">
    <a style="border-bottom: 0px" href="https://www.comune.verona.it">
        <img style="margin-left: 10%;" 
             src="assets/images/cdv-logo.png" 
             width="95%" />
    </a>
</div>
</center>