<div>		
    <h3>Host</h3>				
    <div>
        <a style="border-bottom: 0px" href="http://www.univr.it/jsp/index.jsp"><img style="margin-left: 10%;" 
        href="" src="assets/images/logo-web-univr.png" width="70%"></a>                            
    </div>
    <h3>Co-host</h3>				
    <div>
        
        <a style="border-bottom: 0px" href="https://www.uniud.it/"><img style="margin-left: 10%;" 
        href="" src="assets/images/logo-uniud.png" width="70%"></a>
    </div>
</div>