<div>
    <h3><i class="fas fa-user-tie"></i>  &nbsp;  Partners</h3>
        <center>
            <br>
            Platinum
            <div><a style="border-bottom: 0px" href="http://www.polyrix.com/">
                <img src="assets/images/partners/polyrix.jpg" style="max-width:60%; max-height:80px;"></a>
            </div>
            <div><a style="border-bottom: 0px" href="https://wrnch.ai">
                <img src="assets/images/partners/wrnch.png" style="max-width:60%; max-height:80px;"></a>
            </div>
            <div><a style="border-bottom: 0px" href="https://www.ino.ca">
                <img src="assets/images/partners/ino.jpg" style="max-width:60%; max-height:80px;"></a>
            </div>
            <div><a style="border-bottom: 0px" href="https://www.huawei.com/ca/">
                <img src="assets/images/partners/huawei.png" style="max-width:60%; max-height:80px;"></a>
            </div>

            <br>
            Gold
            <div>
                <img src="assets/images/partners/innovmetric.png" style="vertical-align: middle; max-width:30%; max-height:80px;">
                <img src="assets/images/partners/autodesk.jpg" style="vertical-align: middle; max-width:30%; max-height:80px;">
            </div>

        </center>
    <br>
</div>





