<div>

    <center>
    <h2><i class="fas fa-user-tie"></i>  &nbsp;  Partners</h2>
        <br>
        <h3>Platinum</h3>
        <br>
        <div><a style="border-bottom: 0px" href="http://www.polyrix.com/">
            <img src="assets/images/partners/polyrix.jpg" width="40%"></a>
        </div>
        <div><a style="border-bottom: 0px" href="https://wrnch.ai">
            <img src="assets/images/partners/wrnch.png" width="40%"></a>
        </div>
        <div><a style="border-bottom: 0px" href="https://www.ino.ca">
            <img src="assets/images/partners/ino.jpg" width="40%"></a>
        </div>
        <div><a style="border-bottom: 0px" href="https://www.huawei.com/ca/">
            <img src="assets/images/partners/huawei.png" style="max-height:200px; max-width:40%;"></a>
        </div>

        <br>
        <br>
        <h3>Gold</h3>
        <div>
            <a style="border-bottom: 0px" href="https://www.innovmetric.com/"><img src="assets/images/partners/innovmetric.png" width="40%" style="vertical-align: middle;"></a>
            <a style="border-bottom: 0px" href="https://www.autodesk.com"><img src="assets/images/partners/autodesk.jpg" width="40%" style="vertical-align: middle;"></a>
        </div>

        <br>
        <br>
        <h3>Silver</h3>
        <div><a style="border-bottom: 0px" href="http://www.airy3d.com">
            <img src="assets/images/partners/airy3d.png" style="max-width: 30%; max-height: 128px"></a>
        </div>
        <div><a style="border-bottom: 0px" href="http://www.creaform.com">
            <img src="assets/images/partners/creaform.jpg" style="max-width: 30%; max-height: 128px"></a>
        </div>
        <div><a style="border-bottom: 0px" href="https://research.fb.com/category/augmented-reality-virtual-reality/">
            <img src="assets/images/partners/frl.png" style="max-width: 30%; max-height: 128px"></a>
        </div>

        <br>
        <br>
        <h3>Bronze</h3>
        <div><a style="border-bottom: 0px" href="https://www.arcane-technologies.com/">
            <img src="assets/images/partners/arcane.jpg" width="20%"></a>
        </div>
        <div><a style="border-bottom: 0px" href="https://www.immervision.com/">
            <img src="assets/images/partners/immervision.png" width="20%"></a>
        </div>
                <div><a style="border-bottom: 0px" href="https://www.google.com/">
            <img src="assets/images/partners/google.png" width="20%"></a>
        </div>

        <br>
        <br>
        <h3>Other partners</h3>
        <div><a style="border-bottom: 0px" href="https://umanx.com/">
            <img src="assets/images/partners/umanx.png" width="10%"></a>
        </div>
        <div><a style="border-bottom: 0px" href="http://quebec.ieee.ca/">
            <img src="assets/images/partners/ieee-quebec.jpg" width="12%"></a>
        </div>

    </center>
</div>





