<h3>Previous 3DV Conferences</h3>
<ul class="links">
    <li><a href="http://3dv18.uniud.it/">3DV 2018</a></li>
    <li><a href="http://irc.cs.sdu.edu.cn/3dv/">3DV 2017</a></li>
    <li><a href="http://3dv.stanford.edu/">3DV 2016</a></li>
    <li><a href="http://3dv2015.inria.fr/">3DV 2015</a></li>
    <li><a href="http://3dv.sys.wakayama-u.ac.jp/">3DV 2014</a></li>
    <li><a href="http://www.3dv.cs.washington.edu/">3DV 2013</a></li>
    <li><a href="http://threedimpvt2012.ethz.ch/">3DIMPVT 2012</a></li>
    <li><a href="http://www.vis.uky.edu/3dimpvt/">3DIMPVT 2011</a></li>
</ul>
