<div>
    <center>
    <h1>Sponsors</h1>
    
    <h3>Silver</h3>
    <div>
        <a style="border-bottom: 0px" href="http://www.agisoft.com/">
            <img src="assets/images/sponsors/silver/Agisoft.png" height="122px">
        </a>
    </div>
    
    <h3>Bronze</h3>	
    <table>
    <tr>
        <td>
            <a style="border-bottom: 0px" href="https://www.aquifi.com">
            <img href="" src="assets/images/sponsors/bronze/aquifi.png" height="61px">
            </a>
        </td>
        <td>
        <a style="border-bottom: 0px" href="https://www.google.com/">
            <img src="assets/images/sponsors/bronze/google.png" height="94px">
            </a>    
        </td>
    </tr>
    <tr>
        <td>
            <a style="border-bottom: 0px" href="https://www.microsoft.com">
            <img src="assets/images/sponsors/bronze/microsoft.png" height="73px">
            </a>
        </td>
        <td>
           <a style="border-bottom: 0px" href="https://microtec.eu">
            <img src="assets/images/sponsors/bronze/microtec.png" height="79px">
            </a>
        </td>
    </tr>
    <tr>
        <td>
             <a style="border-bottom: 0px" href="https://www.nvidia.com">
            <img src="assets/images/sponsors/bronze/NVLogo.png" height="73px">
            </a>
        </td>
        <td>
            
            <a style="border-bottom: 0px" href="https://www.3dflow.net/">
            <img src="assets/images/sponsors/bronze/3dflow.png" height="85px">
            </a>
            
        </td>
    </tr>
    </table>
    <h3>Startup</h3>
    <div>
        <a style="border-bottom: 0px" href="http://www.digitalviews.it/">
            <img src="assets/images/sponsors/startup/digitalviews.png" height="98px">
        </a>
    </div>
    </center>
</div>





